*{
    --fg: #bac2de;
    --fg-lighter: #9399b2;
  
    --bg: #181825;
    --bg-lighter: #1e1e2e;
  
    --card: #313244;
    --special: var(--purple);
  
    --blue: #89b4fa;
    --green: #a6e3a1;
    --yellow: #f9e2af;
    --purple: #cba6f7;
    --red: #f38ba8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Fira Code', monospace; 
    background-color: var(--bg-lighter); 
    color: var(--fg);
    line-height: 1.6;
}

header {
    background-color: var(--bg); 
    color: var(--fg);
    padding: 3rem;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

    
header p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.btn {
    display: inline-block;
    background-color: transparent; 
    border: var(--fg) 2px dashed;
    color: var(--purple);
    transition: 0.5s;
    padding: 0.5rem;
    text-decoration: none;
    margin: 0.25rem;
    font-size: 1.2rem;;
}

.btn:hover {
    background-color: var(--bg-lighter); 
}

.about {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fg);
    font-size: large;
    padding: 3rem;
    margin: auto;
}

.skills {
    width: 70%;
    color: var(--fg);
    font-size: large;
    margin: auto;
    padding: 0 3rem 3rem 3rem;
    ul {
        list-style-type: none;
        li {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            img {
                margin-right: 1rem;
            }
        }
    }

}

.contact {
    width: 70%;
    color: var(--fg);
    font-size: large;
    margin: auto;
    padding: 0 3rem 0 3rem;

}

.contact li {
    list-style-type: none;
}
.contact a {
    text-decoration: none;
    color: var(--purple);
}

.stats {
    width: 70%;
    color: var(--fg);
    font-size: large;
    margin: auto;
    padding: 0 3rem 3rem 3rem;
}
.stats li {
    list-style-type: none;
}
.stats a {
    text-decoration: none;
    color: var(--purple);
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}


.socials a {
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    color: var(--fg);
    text-align: center;
    width: 100%;
    font-size: small;

    a {
        color: var(--purple);

        &:hover {
            color: var(--purple);
        }
    }
}
