* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Code', monospace; 
    background-color: var(--bg); 
    color: var(--fg);
    line-height: 1.6;
}

.theme-div {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0rem 0rem;
    @media only screen and (max-width: 600px) {
        justify-content: center;
    }

}

.theme-switcher {
    border: var(--border, var(--border-default));
    width: 12rem;
    @media  only screen and (max-width: 600px) {
        width: 100%;
    }
    padding: .5rem;
    #theme-select {
      border: none;
      color: var(--fg);
      background: var(--bg);
      width: 100%;
      height: 100%;
      font-size: 1rem;
    };
  }
    
.about {
    width: 70%;
    display: flex;
    justify-content: center;
    color: var(--fg);
    font-size: large;
    margin: auto;
    text-align: left;
    flex-direction: column;
}

.svg-icon {
    fill: var(--fg);
    margin-right: 1rem;
}

.about h1 {
    font-size: 3rem;
}

.about .color {
    color: var(--purple);
}

.skills {
    width: 70%;
    color: var(--fg);
    font-size: large;
    margin: auto;
    padding: 3rem 3rem 3rem 0;
}

.skills ul {
    list-style-type: none;
}

.skills li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.skills img {
    margin-right: 1rem;
}

.contact {
    width: 70%;
    color: var(--fg);
    font-size: large;
    margin: auto;
    padding: 0 3rem 0 0;
}

.contact li {
    list-style-type: none;
}

.contact a {
    text-decoration: none;
    color: var(--purple);
}

.stats {
    width: 70%;
    color: var(--fg);
    font-size: large;
    margin: auto;
    padding: 0 3rem 3rem 0;
}

.stats li {
    list-style-type: none;
}

.stats a {
    text-decoration: none;
    color: var(--purple);
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.socials a {
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: var(--purple);
    }
}

footer {
    color: var(--fg);
    text-align: center;
    width: 100%;
    font-size: small;
    padding: 0 0 2rem;
}

footer a {
    color: var(--purple);
}

footer a:hover {
    color: var(--purple);
}